extends layout

block content
  #image
  h2 Hello, #{name}!
  p #{question}
  #border
   form(method="post", action="/battle")
    input(type="text", placeholder="Answer", name="answer")
    br
    input(type="submit", value="Submit")
