extends layout

block content
  #city
  #image
  h3 May the best city win
  #border
   form(method="post", action="/login")
     input(type="text", placeholder="Username", autofocus="true", name="username")
     br
     input(type="password", placeholder="Password", name="password")
     br
     input(type="submit", value="LOGIN")
  #londonBottom