extends layout

block content
  img(src="https://github-render.s3.amazonaws.com/prod/36043cbec9188dbb5c56b9b2d3173a1f.png")

  ul.nav
    a(href="signup") Sign Up
    a(href="login") Log In
    
  p Welcome to #{title}. The purpose of #{title} is to find out which city is the smartest. We intend to do this by finding out users locations using geolocation services and then asking users to answer a series of questions. The questions are a mix of history, english, maths, science and trivial. After this, we use the individual results to form their cities position on our league table, where each city will be ranked. We also intend to create an API so that users can use this information. 