extends layout

block content
  img(src="https://github-render.s3.amazonaws.com/prod/36043cbec9188dbb5c56b9b2d3173a1f.png")
  ul.nav
    a(href="index") Home
    a(href="signup") Sign Up

  h3 May the best city win
<<<<<<< HEAD
  #border
   form(method="post", action="/login" autocomplete="off")
     input(type="text", placeholder="Username", autofocus="true", name="username")
     br
     input(type="password", placeholder="Password", name="password")
     br
     input(type="submit", value="LOGIN")
=======
  form(method="post", action="/login")
    input(type="text", placeholder="Username", autofocus="true", name="username")
    br
    input(type="password", placeholder="Password", name="password")
    br
<<<<<<< HEAD
    input(type="submit", value="login")
>>>>>>> FETCH_HEAD
=======
    input(type="submit", value="login")
>>>>>>> FETCH_HEAD
