extends layout

block content
  img(src="https://github-render.s3.amazonaws.com/prod/36043cbec9188dbb5c56b9b2d3173a1f.png")
  ul.nav
    a(href="index") Home
    a(href="login") Log In

  h3 May the best city win
  #border
   form(method="post", action="/signup", autocomplete="off")
    input(type="text", placeholder="Username", autofocus="true", name="username")
    br
    input(type="text", placeholder="Email", autofocus="true", name="email")
    br
    input(type="password", placeholder="Password", name="password")
    br
    #submitborder
     input(type="submit", value="login")
